<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/productDetailStyle.css" />

<!--***********  HEAD   ************************************************-->

<%- include('partials/head.ejs', {title: 'ESSENSOR - Product detail'})%>

<!--
 ***********   BODY   ************************************************
-->

<body>

  <!--***********  TOOLBAR HEADER   ************************************************-->
  <header>
    <div class="header">
      <img src="/assets/images/logo.png" alt="Essensor logo" />
    </div>
  </header>

  <!--***********   MAIN   ***********************************************-->
  <main>
    <div class="main-container">
      <div class="image-container">
        <img src="<%= product.image %>" alt="imagen de producto">
      </div>
      <div class="product-description-container">
        <div class="product-items-container">
          <h2><%=product.name%></h4>
          <h3>$ <%=product.price%></h3>
          <h4><%=product.discount%> %</h5>
          <p><%=product.description%></p>
          <div class="buttons-container">
              <a href="/productUpdate/<%=product.id%>">
                <button class="button">Actualizar</button>
              </a>
              <form method="post" action="/productDelete/<%=product.id%>?_method=DELETE">
                <input type="submit" name="_method" class="button" value="Eliminar">
              </form>
          </div>
        </div>
      </div>
    </div>
  </main>


  <!--
 ***********   FOOTER   ***********************************************
-->
  <%- include('partials/footer.ejs')%>
</body>

</html>