<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/productDetailStyle.css" />

<!--***********  HEAD   ************************************************-->

<%- include('partials/head.ejs', {title: 'ESSENSOR - User detail' })%>

  <!--
 ***********   BODY   ************************************************
-->

  <body>

    <!--***********  TOOLBAR HEADER   ************************************************-->
    <header>
      <div class="header">
        <img src="/assets/images/logo.png" alt="Essensor logo" />
      </div>
    </header>

    <!--***********   MAIN   ***********************************************-->
    <main>

      <body>

        <div class="articles-container">
          <% for(let i=0; i<users.length; i++){%>
            <!-- <%- include('partials/articleCard.ejs', {product: users[i]})%> -->
            <article class="section-article display-1">
              <div class="section-img section-img-sales ">
                <img src=<%=users[i].avatar %> alt="Sensor image" />
              </div>
              <div class="section-article-foot-name-sales">
                <h4>
                  <%= users[i].userName %>
                </h4>
              </div>
              <div class="section-article-foot section-article-foot-price">
                <h5>
                  <%= users[i].email %>
                </h5>
              </div>
            </article>
            <% } %>
        </div>
      </body>
    </main>

    <!--
***********   FOOTER   ***********************************************
-->
    <%- include('partials/footer.ejs')%>
  </body>

</html>