<!DOCTYPE html>
<html lang="en">
<!--
 ***********   HEAD   **************************************************
-->

<div>
  <%- include('partials/head.ejs', {title: 'ESSENSOR - Login'})%>
  <link rel="stylesheet" href="css/loginStyle.css" />
  <title>ESSENSOR Login</title>
</div>

<!--
 ***********   BODY   **************************************************
-->

<body>
  <!--
 ***********   HEADER   ***********************************************
-->
  <div>
    <%- include('partials/header.ejs')%>
  </div>

  <main>
    <form action="/login" method="POST">
      <div class="main-container">
        <div class="main-container-title">
          <h2 class="title">Bienvenido</h2>
        </div>
        <div class="main-container-option-select">
          <div class="main-container-option-select-signin">
            <input type="radio" name="option" id="signin" value="signin" checked />
            <label for="signin">
              <a href="">Iniciar sesión</a>
            </label>
          </div>
          <div class="main-container-option-select-signout">
            <input type="radio" name="option" id="signout" value="signout" />
            <label for="signout">
              <a href="/userRegister">Crear cuenta</a>
            </label>
          </div>
        </div>

        <div class="main-container-text-inputs-email">
          <div class="rounder-container">
            <label for="email">Email</label>
            <div class="text-input-with-icon">
              <i class="material-icons">email</i>
              <% if(!isFromGet && oldData){ %>
              <input class="form-control" type="text" name="userEmail" value="<%=oldData.userEmail%>" id="email"
                 required />
              <% } else{ %>
              <input class="form-control " type="text" name="userEmail" placeholder="example@gmail.com" id="email"
                 required />
              <% } %>
            </div>
          </div>
          <div>
            <label id="emailError" style="color: Red;">
            </label>
            <%if(!isFromGet && errors && errors.userEmail){%>
            <label id="emailError" style="color: Red;">
              <%= errors.userEmail.msg%>
            </label>
            <%}%>
          </div>
        </div>
        <div class="main-container-text-inputs-clave">
          <div class="rounder-container">
            <label for="password">Clave</label>
            <div class="text-input-with-icon">
              <i class="material-icons">lock</i>
              <% if(!isFromGet && oldData){ %>
            <input class="form-control " type="password"  name="userPassword"
              id="password" value="<%=oldData.password%>" required />
            <% } else{ %>
            <input class="form-control " type="password"  name="userPassword"
              id="password" required />
            <% } %>
          </div>
        </div>
        <div>
          <label id="errorPassword" style="color: Red;"></label>
          <%if(!isFromGet && errors && errors.userPassword){%>
            <label id="errorPassword" style="color: Red;">
            <%= errors.userPassword.msg%>
            </label>
          <%}%>
        </div>

        <div class="main-container-text-inputs-email">
          <div class="rounder-container">
            <div class="form-check" style="display: flex; align-items: center; justify-content: center;">
              <input class="form-check-input" type="checkbox" name="rememberUser" id="flexCheckDefault">
              <label class="form-check-label" style="margin-left: 5px;" for="flexCheckDefault">Recordar mi usuario</label>
            </div>
          </div>
        </div>

        <div class="main-container-text-inputs-button">
          <button class="btn btn-primary" id="btnIniciar" type="submit">
            Iniciar
          </button>
        </div>

      </div>
    </form>
  </main>

  <!--
 ***********   FOOTER   **********************************************************
-->
  <div>
    <%- include('partials/footer.ejs')%>
      </div>


      <!--
 ***********  VALIDATIONS SCRIPTS   **********************************************************
-->
<script src="/js/loginValidations.js"></script>

      <!--
 ***********   BOOSTRAP SCRIPTS   **********************************************************
-->
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous">
      </script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous">
      </script>

</body>

</html>