<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/productDetailStyle.css" />

<!--***********  HEAD   ************************************************-->

<%- include('partials/head.ejs', {title: 'ESSENSOR - Product detail' })%>

  <!--
 ***********   BODY   ************************************************
-->

  <body>

    <!--***********  TOOLBAR HEADER   ************************************************-->
    <header>
      <div class="header">
        <img src="/assets/images/logo.png" alt="Essensor logo" />
      </div>
    </header>

    <!--***********   MAIN   ***********************************************-->
    <main>
      <div class="main-container">
        <div class="image-container">
          <img class product-img src="<%= productToShow.product_image %>" alt="imagen de producto">
        </div>
        <div class="product-description-container">
          <div class="product-items-container">
            <h3>
              <%=productToShow.product_name%>
            </h3>
            <p class="description">
              <%=productToShow.product_description%>
            </p>
            <h5>
              Precio de lista: $<%=productToShow.product_price%>
            </h5>
            <h5 class="discount">
              <% if(productToShow.product_discount>0){ %>
                Descuento: <%=productToShow.product_discount%> %
              <% } else{ %>
                    <% } %>
            </h5>
            <div class="buttons-container">
              <a href="/productUpdate/<%=productToShow.product_id%>">
                <button class="button">Actualizar</button>
              </a>
              <form method="post" action="/productDelete/<%=productToShow.product_id%>?_method=DELETE">
                <input type="submit" name="_method" class="button" value="Eliminar">
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>


    <!--
 ***********   FOOTER   ***********************************************
-->
    <%- include('partials/footer.ejs')%>
  </body>

</html>