<!DOCTYPE html>
<html lang="en">
<!--
 ***********   HEAD   **************************************************
-->

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <link rel="stylesheet" href="/css/manageProductsStyle.css" />
    <title>ESSENSOR Update product</title>
</head>

<!--
 ***********   BODY   *************************************************
-->

<body>
    <!--
 ***********   HEADER   ***********************************************
-->
<%- include('partials/head.ejs', {title: 'ESSENSOR - Update product' })%>

    <!--
 ***********   MAIN   ***********************************************
-->
    <main>
        <form action="/productUpdate/<%= product.product_id %>?_method=PUT" method="post" enctype="multipart/form-data">
            <div class="main-container">
                <div class="main-container-title">
                    <h2 class="title">Modificar producto</h2>
                </div>

                <div class="main-container-text-inputs">
                    <div class="rounder-container">
                        <label for="productName">Nombre del producto</label>
                        <div class="text-input-with-icon">
                            <input class="text-inputs" type="text" name="productName" placeholder="Nombre del producto"
                                value="<%=product.product_name%>"
                                id="productName" required />
                        </div>
                    </div>
                </div>
                <div class="main-container-text-inputs">
                    <div class="rounder-container">
                        <label for="productDescription">Descripción del producto</label>
                        <div>
                            <textarea name="productDescription" id="productDescription" cols="30" rows="5"><%=product.product_description%></textarea>
                        </div>
                    </div>
                </div>
                <div class="main-container-text-inputs">
                    <div class="rounder-container">
                        <label for="imagen">Imagen</label>
                        <div class="input-container">
                            <img class="avatar-image" src="<%=product.product_image%>" alt="Imagen de producto">
                            <input class="text-inputs" type="file" name="image" id="imagen" 
                              value="Por favor selecciones una imagen en formato .jpeg, .jpg, .png, .gif" />
                          </div>
              
                    </div>
                </div>
                <div class="main-container-text-inputs">
                    <div class="rounder-container">
                        <label for="categoria">Categoría</label>
                        <div>
                            <select name="category">
                                <%for(category of categories){%>
                                <option value="<%=product.product_category_id%>"
                                    <% if(category.id==product.product_category_id){%>
                                        selected = "selected"
                                        <%}%> ><%=category.name%></option>
                                <%}%>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="main-container-text-inputs">
                    <div class="rounder-container">
                        <label for="precio">Precio</label>
                        <div>
                            <input class="text-inputs" value="<%=product.product_price%>" type="text" name="price" id="precio" placeholder="$precio"
                                />
                        </div>
                    </div>
                </div>

                <div class="main-container-text-inputs">
                    <div class="rounder-container">
                        <label for="descuento">Descuento</label>
                        <div>
                            <select name="discount">
                                <%for(discount of discounts){%>
                                <option value="<%=discount%>"
                                    <% if(discount==product.product_discount){%>
                                        selected = "selected"
                                        <%}%> ><%=discount%></option>
                                <%}%>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="main-container-text-inputs-button">
                    <input type="submit" method="post" name="_method" value="Modificar producto" class="button"/>
                </div>
            </div>
        </form>
    </main>

    <!--
 ***********   FOOTER   **********************************************************
-->
    <%- include('partials/footer.ejs')%>

</body>

</html>