<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/productDetailStyle.css" />

<!--***********  HEAD   ************************************************-->

<%- include('partials/head.ejs', {title: 'ESSENSOR - Product detail' })%>

  <!--
 ***********   BODY   ************************************************
-->

  <body>

    <!--***********  TOOLBAR HEADER   ************************************************-->
    <header>
      <div class="header">
        <img src="/assets/images/logo.png" alt="Essensor logo" />
      </div>
    </header>

    <!--***********   MAIN   ***********************************************-->
    <main>
      <div class="main-container">
        <div class="image-container">
          <img class product-img src="<%= productToShow.product_image %>" alt="imagen de producto">
        </div>
        <div class="product-description-container">
          <div class="product-items-container">
            <h3>
              <%=productToShow.product_name%>
            </h3>
            <p class="description">
              <%=productToShow.product_description%>
            </p>
            <h5>
              Precio de lista: $<%=productToShow.product_price%>
            </h5>
            <h5 class="discount">
              <% if(productToShow.product_discount>0){ %>
                Descuento: <%=productToShow.product_discount%> %
              <% } else{ %>
                    <% } %>
            </h5>
            <div class="buttons-container" >
              <%if(locals.isLogged && locals.userLogged.is_admin) {%>
                <a href="/productUpdate/<%=productToShow.product_id%>">
                  <button class="btn btn-primary" style="width: 120px; margin-right: 0.5rem;">Actualizar</button>
                </a>
                <form method="post" action="/productDelete/<%=productToShow.product_id%>?_method=DELETE">
                  <input type="submit" name="_method" style="width: 120px; margin-left: 0.5rem;" class="btn btn-primary" value="Eliminar">
                </form>
              <% }else {%>
                <a class="btn btn-primary" href="/cart" role="button">Comprar</a>
              <% }%>
            </div>
          </div>
        </div>
      </div>
    </main>


    <!--
 ***********   FOOTER   ***********************************************
-->
    <%- include('partials/footer.ejs')%>


        <!--
 ***********   BOOSTRAP SCRIPTS   **********************************************************
-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous">
</script>



  </body>

</html>