<!DOCTYPE html>
<html lang="en">
<!--
 ***********   HEAD   **************************************************
-->
<div>
  <%- include('partials/head.ejs', {title: 'ESSENSOR - Update user' })%>
    <link rel="stylesheet" href="/css/loginStyle.css" />
    <title>ESSENSOR Update user</title>
</div>

<!--
 ***********   BODY   *************************************************
-->

<body>
  <!--
 ***********   HEADER   ***********************************************
-->
  <div>
    <%- include('partials/header.ejs')%>
  </div>
  <main>
    <form action="/userUpdate/<%= user.user_id %>?_method=PUT" method="post" enctype="multipart/form-data">
      <div class="main-container">
        <div class="main-container-title">
          <h2 class="title">Actualizar datos de usuario</h2>
        </div>
        <div class="main-container-text-inputs-email">
          <div class="rounder-container">
            <label for="email">Nombre de usuario</label>
            <div class="text-input-with-icon">
              <%if(isFromGet) {%>
                <i class="material-icons">person</i>
                <input class="text-inputs" type="text" name="userName" value="<%=user.user_name%>" id="userName"
                  required />
                <%}else {%>
                  <i class="material-icons">person</i>
                  <input class="text-inputs" type="text" name="userName" value="<%=oldData.userName%>" id="userName"
                    required />
                  <%}%>
            </div>
          </div>
          <div>
            <%if(!isFromGet && errors && errors.userName){%>
              <label style="color: Red;">
                <%= errors.userName.msg%>
              </label>
              <%}%>
          </div>
        </div>
        <div class="main-container-text-inputs-email">
          <div class="rounder-container">
            <label for="email">Email</label>
            <div class="text-input-with-icon">
              <i class="material-icons">email</i>
              <input class="text-inputs-disabled" type="text" name="userEmail" readonly="readonly"
                value="<%=user.email%>" id="email" required />
            </div>
          </div>
        </div>
        <div class="main-container-text-inputs-email">
          <div class="rounder-container">
            <label for="imagen">Imagen</label>
            <div class="input-container">
              <img class="avatar-image" src="<%=user.avatar%>" alt="Avatar de usuario" />
              <input class="text-inputs" type="file" name="avatar" id="imagen"
                value="Por favor selecciones una imagen en formato .jpeg, .jpg, .png, .gif" />
            </div>
          </div>
        </div>
        <div class="main-container-text-inputs-button">
          <input class="button-iniciar" type="submit" value="Actualizar usuario" />
        </div>
      </div>
    </form>
  </main>

  <!--
 ***********   FOOTER   **********************************************************
-->
  <div>
    <%- include('partials/footer.ejs')%>
  </div>
</body>

</html>