<!DOCTYPE html>
<html lang="en">
<!--
 ***********   HEAD   **************************************************
-->
<div>
  <%- include('partials/head.ejs', {title: 'ESSENSOR - Register' })%>
  <link rel="stylesheet" href="css/loginStyle.css" />
  <title>ESSENSOR Register</title>
</div>

<!--
 ***********   BODY   *************************************************
-->

<body>
  <!--
 ***********   HEADER   ***********************************************
-->
  <div>
    <%- include('partials/header.ejs')%>
  </div>
  <main>
    <form action="/userRegister" method="POST" enctype="multipart/form-data">
      <div class="main-container">
        <div class="main-container-title">
          <h2 class="title">Bienvenido</h2>
        </div>
        <div class="main-container-option-select">
          <div class="main-container-option-select-signout">
            <input type="radio" name="option" id="signout" value="signout" checked />
            <label for="signout">
              <a href="">Crear cuenta</a>
            </label>
          </div>
          <div class="main-container-option-select-signin">
            <input type="radio" name="option" id="signin" value="signin" />
            <label for="signin">
              <a href="/login">Iniciar sesión</a>
            </label>
          </div>
        </div>
        <div class="main-container-text-inputs-email">
          <div class="rounder-container">
            <label for="email">Nombre de usuario</label>
            <div class="text-input-with-icon">
              <i class="material-icons">person</i>
              <% if(!isFromGet && oldData){ %>
              <input class="form-control" type="text" name="userName" value="<%= oldData.userName %>" id="userName"
                required />
              <% } else{ %>
              <input class="form-control" type="text" name="userName" value="" id="userName" required />
              <% } %>
            </div>
          </div>
          <div>
            <label id="userNameError" style="color: Red;"></label>
            <%if(!isFromGet && errors && errors.userName){%>
            <label style="color: Red;">
              <%= errors.userName.msg %>
            </label>
            <%}%>
          </div>
        </div>
      </div>
      </div>
      <div class="main-container-text-inputs-email">
        <div class="rounder-container">
          <label for="email">Email</label>
          <div class="text-input-with-icon">
            <i class="material-icons">email</i>
            <% if(!isFromGet && oldData){ %>
            <input class="form-control" type="text" name="userEmail" value="<%= oldData.userEmail %>" id="email"
              required />
            <% } else{ %>
            <input class="form-control" type="text" name="userEmail" value="" id="email" required />
            <% } %>

          </div>
        </div>
        <div>
          <label id="emailError" style="color: Red;">
          </label>
          <%if(!isFromGet && errors && errors.userEmail){%>
          <label style="color: Red;">
            <%= errors.userEmail.msg%>
          </label>
          <%}%>
        </div>
      </div>
      <div class="main-container-text-inputs-clave">
        <div class="rounder-container">
          <label for="password">Clave</label>
          <div class="text-input-with-icon">
            <i class="material-icons">lock</i>
            <% if(!isFromGet && oldData){ %>
          <input class="form-control" type="password" name="userPassword" 
            value="<%= oldData.userPassword %>" id="userPassword" required />
          <% } else{ %>
          <input class="form-control" type="password" name="userPassword" value=""
            id="userPassword" required />
          <% } %>
        </div>
      </div>
      <div>
        <label id="passwordError" style="color: Red;">
        </label>
        <%if(!isFromGet && errors && errors.userPassword){%>
        <label style="color: Red;">
          <%= errors.userPassword.msg%>
        </label>
        <%}%>
        </div>
      </div>
      </div>
      <div class="main-container-text-inputs-clave">
        <div class="rounder-container">
          <label for="repit-password">Repetir clave</label>
          <div class="text-input-with-icon">
            <i class="material-icons">lock</i>
            <% if(!isFromGet && oldData){ %>
        <input class="form-control" type="password" name="userRepitPassword"
          value="<%= oldData.userRepitPassword %>" id="repit-password" required />
        <% } else{ %>
        <input class="form-control" type="password" name="userRepitPassword"
          value="" id="userRepitPassword" required />
        <% } %>
      </div>
      </div>
      <div>
        <label id="passwordRepeatError" style="color: Red;">
        </label>
        <%if(!isFromGet && errors && errors.userRepitPassword){%>
        <label style="color: Red;">
          <%= errors.userRepitPassword.msg%>
        </label>
        <%}%>
      </div>
      </div>
      <div class="main-container-text-inputs-image">
        <div class="rounder-container">
          <label for="imagen">Imagen</label>
          <div>
            <input class="form-control" type="file" name="avatar" id="imagen"
              value="Por favor selecciones una imagen en formato .jpeg, .jpg, .png, .gif" />
          </div>
        </div>
        <div>
          <label id="fileError" style="color: Red;">
            </label>
          <%if(!isFromGet && errors && errors.avatar){%>
            <label style="color: Red;">
            <%= errors.avatar.msg%>
            </label>
          <%}%>
        </div>
      </div>
      <div class="main-container-text-inputs-button">
        <input class="btn btn-primary" type="submit" id="btnGuardar" value="Crear cuenta" />
      </div>
      </div>
    </form>
  </main>

  <!--
 ***********  VALIDATIONS SCRIPTS   **********************************************************
-->
<script src="/js/userRegisterValidations.js"></script>
  <!--
 ***********   FOOTER   **********************************************************
-->
  <div>
    <%- include('partials/footer.ejs')%>
      </div>
</body>

</html>