<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/productDetailStyle.css" />

<!--***********  HEAD   ************************************************-->

<%- include('partials/head.ejs', {title: 'ESSENSOR - User list' })%>

  <!--
 ***********   BODY   ************************************************
-->

  <body>

    <!--***********  TOOLBAR HEADER   ************************************************-->
    <header>
      <div class="header">
        <img src="/assets/images/logo.png" alt="Essensor logo" />
      </div>
    </header>

    <!--***********   MAIN   *********************************************************-->

    <main>
      <body>
        <% for(let i=0; i<users.length; i++){%>
          <div class="card-group">
            <div class="card" style="width: 20vw; min-height: 60vh;">
              
                <img src="<%=users[i].avatar %>" class="card-img-top" alt="...">
              
              <div class="card-body">
                <h5 class="card-title"> <%= users[i].user_name %></h5>
                <p class="card-text"><%= users[i].email %></p>    
              </div>
            </div>
          </div>
        <% } %>
      </body>
    </main>

 <!--***********   FOOTER  ***********************************************************-->

    <%- include('partials/footer.ejs')%>
  </body>

</html>